body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    text-align: center;
}

section {
    margin-bottom: 30px;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: 0 auto;
}

label {
    margin-top: 10px;
}

input {
    padding: 5px;
    margin-top: 5px;
}

button {
    margin-top: 10px;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#transactionHistory {
    margin-top: 10px;
    /* Preserve new lines and spaces */
    white-space: pre-wrap;
    font-weight: bold;
}

#balanceMessage, #transferMessage, #createUserMessage {
    margin-top: 10px;
    font-weight: bold;
}
